@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300&display=swap');
* {
    font-family: "Poppins";
}
img#topo{
    margin-left: -50px;
    margin-top: -40px;
    height: 480px;
    box-shadow: none;
    
}

body{
    background-color: #2C2B2B;
}

p{
    color: white;
    font-size: x-large;
    margin-left: 70px;
    font-style: italic;
    font-weight: 700;
}

img{
    display: block;
    border-radius: 6px;
    box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.75);
    
}
#top{
    box-shadow: none;
}

.flex{
    display: flex;
    gap: 15px;
    margin-left: 70px;
    
}

.flex img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.headflex{
    display: flex;
    margin-top: -1300px;
}

p#head{
    margin-left: -10px;
    margin-top: 40px;
}

img#head2{
    margin-top: 30px;  
}
img#head3{
    margin-top: 30px;
    margin-left: -70px;
}
.vetortop{
    display: flex;
    justify-content: center;
    margin-top: -400px;
}

#clow{
    display: flex;
    margin-top: -65px;
    margin-left: 1400px;
}






